# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log
logs/
*.log.*

# Flask instance and uploads
instance/
uploads/

# Docker-related files
*.pid
*.tar
.dockerignore
docker-compose.override.yml

# OS-specific files
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini


# PyCharm
.idea/

# Build artifacts
dist/
build/
*.egg-info/
.eggs/
