<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center p-4">

    <h1 class="text-3xl font-bold text-gray-800 mb-6">Users List</h1>

    <!-- Table to display users -->
    <div class="overflow-x-auto shadow-md sm:rounded-lg w-full max-w-4xl">
        <table class="w-full text-sm text-left text-gray-500 bg-white">
            <thead class="text-xs text-center text-gray-700 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">Username</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="border-b hover:bg-gray-100 text-center">
                    <td class="px-6 py-4 text-gray-800">{{ user.username }}</td>
                    <td class="px-6 py-4 text-gray-800">{{ user.email }}</td>
                    <td class="px-6 py-4 text-gray-800">{{ user.created_at_formatted  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
